[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"
networkx = "*"
twine = "*"

[packages]
pseudoflow = {editable = true,path = "."}

[requires]
python_version = "3.8"
